
/* page container styling */
#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}
#container.start {
  flex-direction: column;
}


/* sudoku container and childern (other than grid) styling*/
#sudoku-container {
  display:flex;
  flex-direction: column;
  margin: 10px;
}

#sudoku-container.start {
  display: none;
}

#options-container {
  display: flex;
  justify-content: space-between;
}

#sudoku-only {
  display: flex;
}
#both-options {
  display: flex;
  justify-content: flex-end;
}

.option {
  padding: 5px;
}


/* grid will alwasy be 580x580 based on chilern styling*/
#grid-container {
    margin: 5px -2px;
    width: 580px;
    height: 580px;
}





/* graph container and childern styling */
#graph-container {
  display:flex;
  flex-direction: column;
  margin: 10px;
}

#graph-container.start {
  display: none;
}

#options {

}

#cy {
  margin: 5px 0px;
  width: 700px;
  height: 700px;
}




/* random class style*/
.modalContainer {
  border-radius: 5px;
  border-style: solid;
  background-color: #f2f2f2;
}







/*
grid styling 
*/
.row {
    display: inline-block;
}
.cell {
    display: inline-block;  
}

.textContainer {
    position: relative;
    margin: auto;
    width: 60px;
    height: 60px;
}

.bigN {
    position:absolute;
    background-color: transparent;
    z-index: 1;
    border: hidden;
    outline: none;
    margin: auto;
    text-align: center;
    caret-color: transparent;
    font-size: 35px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    color: darkslategray;
}

.bigN:disabled {
    color: black;
}

.bigN:focus {
    border: 2px solid blue;
}

.notesC {
    position:absolute;
    margin: auto;
    z-index: -1;
    width: 60px;
    height: 60px;
} 

.notesRow {
    position: relative;
    margin: auto;
    height: 20px;  
}

.note {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 33.3333%;
    text-align: center;
    color: darkslategray;
}

.col0, .col3, .col6 {
    border-left: 3px solid black;
}

.row0, .row3, .row6 {
    border-top: 3px solid black;
}

.col8 {
    border-right: 3px solid black;
}

.row8 {
    border-bottom: 3px solid black;
}

.col1, .col2, .col4, .col5, .col7, .col8 {
    border-left: 1px solid black;
}

.row1, .row2, .row4, .row5, .row7, .row8 {
    border-top: 1px solid black;
}
